DATABASE_URL=conexion-bd
JWT_SECRET=supersecreta
AWS_ACCESS_KEY_ID=accesskey_id
AWS_SECRET_ACCESS_KEY=access_key
AWS_REGION=us-east-1
S3_BUCKET_NAME=nombre-bucket
AES_SECRET=tuclaveaessecreta013901378939402689237434